:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --text-color-site: #757575;
  --text-color-title: #212121;
  --dark-color-theme: #000;
  --white-color-theme: #fff;
  --backgrund-hero-footer: #2f303a;
  --font-weight-text-site: 400;
  --font-weight-text-title: 700;
  --font-weight-text: 500;
}

body {
  font-family: var(--main-font);
  font-weight: var(--font-weight-text-site);
  color: var(--text-color-site);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.visualy-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*=== COMPONENTS ===*/
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo-first-part {
  color: var(--accent-color);
}

.logo-white-theme {
  color: var(--dark-color-theme);
}

.logo-dark-theme {
  color: var(--white-color-theme);
}

.title {
  font-family: var(--main-font);
  font-weight: var(--font-weight-text-title);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-title);
  margin-bottom: 50px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*=== END COMPONENTS ===*/

/*=== HEADER ===*/
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header .container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.comunication-item .nav-link {
  font-weight: var(--font-weight-text);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-title);
  align-items: center;
}

.communication-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-site);
  margin-right: 25px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-site);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

.nav-link {
  font-family: var(--main-font);
  font-weight: var(--font-weight-text);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.link-studio {
  color: var(--accent-color);
}

.link-studio::after {
  content: "";
  display: block;
  height: 4px;
  width: 48px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0;
  border-radius: 2px;
}

/*=== END HEADER ===*/

/*=== HERO ===*/
.hero {
  background-color: var(--backgrund-hero-footer);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-hero {
  padding: 200px 0px;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color-theme);
  width: 696px;
  margin: 0 auto 30px;
}

.modal-btn {
  min-width: 200px;
  padding: 10px 32px;
  border: 1px solid var(--text-color-site);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--white-color-theme);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #2084d6;
  animation-duration: 1000ms;
  animation-iteration-count: 10;
}
/*=== END HERO ===*/

/*=== WHY CHOOSE US SECTION ===*/
.advantages {
  padding: 94px 0px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.icon-adv-container {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-adv {
  width: 70px;
  height: 70px;
}

.adventages-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.benefit-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-title);
  margin-bottom: 10px;
  width: 270px;
}

.advantages-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*=== END WHY CHOOSE US SECTION ===*/

/*=== WHAT ARE WE DOING SECTION ===*/
.service {
  padding-bottom: 94px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.service-list-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  position: relative;
}

.trend-overlay {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}
/*=== END WHAT ARE WE DOING SECTION ===*/

/*=== OUR TEAM SECTION ===*/
.team {
  background-color: #f5f4fa;
  padding: 94px 0px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.team-list-content-wraper {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #fff;
  border-top: none;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.name {
  font-weight: var(--font-weight-text);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-title);
  margin-bottom: 10px;
}

.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-list-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--white-color-theme);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

/*=== END OUR TEAM SECTION ===*/

/*=== REGULAR CUSTOMER SECTION ===*/
.regular-customers {
  padding: 94px 0px;
}

.regular-customers-list {
  display: flex;
}

.regular-customer-item:not(:last-child) {
  margin-right: 30px;
}

.regular-customer-link {
  width: 170px;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customer-link:hover,
.regular-customer-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/*=== END REGULAR CUSTOMER SECTION ===*/

/*=== FOOTER SECTION ===*/

.footer {
  background-color: var(--backgrund-hero-footer);
  padding: 60px 0px;
  /* height: 252px; */
}

.footer-list {
  margin-top: 20px;
  width: 231px;
}

.footer-link-item:not(:last-child) {
  margin-bottom: 9px;
}

.link-adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color-theme);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-adress:hover,
.link-adress:focus {
  color: var(--accent-color);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-address-container {
  margin-right: 70px;
  width: 231px;
}

.mail-link-footer {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-site);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-footer {
  font-weight: var(--font-weight-text-title);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color-theme);
  display: block;
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-list-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--white-color-theme);
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-link:hover .footer-social-list-icon,
.footer-social-list-link:focus .footer-social-list-icon {
  fill: var(--white-color-theme);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--accent-color);
}

.footer-social-list-container {
  margin-right: 93px;
}

.footer-subscription-text {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color-theme);
  margin-bottom: 20px;
}

.footer-btn {
  max-width: 200px;
  padding: 10px 32px;
  border: 1px solid var(--text-color-site);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--white-color-theme);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #2084d6;
  animation-duration: 1000ms;
  animation-iteration-count: 10;
}

.footer-subscription-text {
  display: block;
  margin-bottom: 20px;
  color: var(--white-color-theme);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.icon-footer-btn {
  fill: currentColor;
  margin-left: 10px;
}

.footer-subscription-container {
  display: inline-flex;
  align-items: center;
}

.footer-subscription-input {
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white-color-theme);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  background-color: transparent;
}

/*=== AND FOOTER SECTION ===*/

/*=== PORTFOLIO ===*/
/*==== FILTERS LIST ====*/
.filters-projects-section {
  padding: 94px 0px;
}

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  font-family: inherit;
  font-weight: var(--font-weight-text);
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--text-color-title);
  background: #f5f4fa;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color-theme);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*==== AND FILTERS LIST ====*/

/*==== PROJECTS LIST ====*/
.name-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color-title);
  margin-bottom: 4px;
}

.type-project {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects-item {
  transform: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.projects-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  border-top: 1px solid #eeeeee;
}

.projects-item:hover,
.projects-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list-content-wraper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.link-portfolio {
  color: var(--accent-color);
}

.link-portfolio::after {
  content: "";
  display: block;
  height: 4px;
  width: 78px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 0;
  border-radius: 2px;
}

.project-list-content-hover {
  position: relative;
  overflow: hidden;
}

.overlay {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-color-theme);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-project-link:hover .overlay,
.name-project-link:focus .overlay {
  transform: translateY(0%);
}

/*==== END PROJECTS LIST ====*/
/*=== END PORTFOLIO ===*/

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: var(--white-color-theme);
  padding: 40px;
}

.btn-close-modal {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-close-modal:hover,
.btn-close-modal:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-text {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-title);
  margin-bottom: 12px;
}

.modal-form-field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-wraper {
  position: relative;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 25px;
  resize: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-check-desc::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  margin-right: 7px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;
  margin-bottom: 30px;
  color: #757575;
}

.modal-form-term:checked + .modal-form-check-desc::before {
  background-image: url("../images/icon-check.svg");
  background-color: var(--accent-color);
  background-position: center;
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.modal-form-term:focus + .modal-form-check-desc::before {
  outline: 1px solid var(--accent-color);
}

.modal-form-btn {
  min-width: 200px;
  padding: 10px 32px;
  border: 1px solid var(--text-color-site);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--white-color-theme);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #2084d6;
  animation-duration: 1000ms;
  animation-iteration-count: 10;
}
