:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --text-color-site: #757575;
  --text-color-title: #212121;
  --dark-color-theme: #000;
  --white-color-theme: #fff;
  --backgrund-hero-footer: #2f303a;
  --font-weight-text-site: 400;
  --font-weight-text-title: 700;
  --font-weight-text: 500;
}

body {
  font-family: var(--main-font);
  font-weight: var(--font-weight-text-site);
  color: var(--text-color-site);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

/*=== COMPONENTS ===*/
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo-first-part {
  color: var(--accent-color);
}

.logo-white-theme {
  color: var(--dark-color-theme);
}

.logo-dark-theme {
  color: var(--white-color-theme);
}

.mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-site);
  margin-right: 25px;
}

.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-site);
}

.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

.title {
  font-family: var(--main-font);
  font-weight: var(--font-weight-text-title);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-title);
  margin-bottom: 50px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*=== END COMPONENTS ===*/

/*=== HEADER ===*/
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header .container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.communication-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-link {
  font-weight: var(--font-weight-text);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-title);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.link-studio {
  color: var(--accent-color);
}

/*=== END HEADER ===*/

/*=== HERO ===*/
.hero {
  background: var(--backgrund-hero-footer);
}

.container-hero {
  padding: 200px 252px;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color-theme);
  margin-bottom: 30px;
}

.modal-btn {
  min-width: 200px;
  padding: 10px 32px;
  border: 1px solid var(--text-color-site);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color-theme);
  display: flex;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
}
/*=== END HERO ===*/

/*=== WHY CHOOSE US SECTION ===*/
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 94px 0px;
  margin-left: -30px;
  margin-top: -30px;
}

.adventages-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.benefit-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-title);
  margin-bottom: 10px;
  width: 270px;
}

.advantages-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*=== END WHY CHOOSE US SECTION ===*/

/*=== WHAT ARE WE DOING SECTION ===*/
.service {
  margin-bottom: 94px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.service-list-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
/*=== END WHAT ARE WE DOING SECTION ===*/

/*=== OUR TEAM SECTION ===*/
.team {
  background-color: #f5f4fa;
}

.team .title {
  padding-top: 94px;
}

.team-list {
  display: flex;
  padding-bottom: 94px;
  margin-left: -30px;
  margin-top: -30px;
}

.team-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.team-list-content-wraper {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.name {
  font-weight: var(--font-weight-text);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-title);
  margin-bottom: 10px;
}

.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/*=== END OUR TEAM SECTION ===*/

/*=== FOOTER SECTION ===*/

.footer {
  background-color: var(--backgrund-hero-footer);
}

.footer-content {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: left;
}

.footer-list {
  margin-top: 20px;
}

.footer-link-item:not(:last-child) {
  margin-bottom: 9px;
}

.link-adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color-theme);
}

.link-adress:hover,
.link-adress:focus {
  color: var(--accent-color);
}
/*=== AND FOOTER SECTION ===*/

/*=== PORTFOLIO ===*/
/*==== FILTERS LIST ====*/
.filters-projects-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  font-family: inherit;
  font-weight: var(--font-weight-text);
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--text-color-title);
  background: #f5f4fa;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color-theme);
}

/*==== AND FILTERS LIST ====*/

/*==== PROJECTS LIST ====*/
.name-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color-title);
  margin-bottom: 4px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.projects-list-content-wraper {
  padding: 20px 24px;
}

/*.type-project {
  margin-top: 4px;
}*/

.link-portfolio {
  color: var(--accent-color);
}
/*==== END PROJECTS LIST ====*/
/*=== END PORTFOLIO ===*/
