.hero__background {
  background-color: var(--backgrund-hero-footer);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0px;
  text-align: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero__background {
    background-image: url("./images/hero/background-mobile@2x.jpg");
  }
}
