.team {
  background-color: #f5f4fa;
  padding: 94px 0px;
}

.team-list {
  @media screen and (min-width: 768px) {
    margin-left: -30px;
    margin-top: -30px;
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.team-list__item {
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team-list__content-wraper {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #fff;
  border-top: none;
  border-radius: 0px 0px 4px 4px;
}

.team-list__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
