.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form-input:focus + & {
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal-form__input-wraper {
  position: relative;
}

.modal-form__message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 25px;
  resize: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form__check-desc {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;
  margin-bottom: 30px;
  color: #757575;

  &::before {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    margin-right: 7px;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-form__term:checked + & {
      background-image: url("../images/icon-check.svg");
      background-color: var(--accent-color);
      background-position: center;
      background-size: contain;
      background-origin: border-box;
      border-color: var(--accent-color);
    }

    .modal-form__term:focus + & {
      outline: 1px solid var(--accent-color);
    }
  }
}
