.title {
  font-family: var(--main-font);
  font-weight: var(--font-weight-text-title);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-title);
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .hero__title {
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    color: var(--secondary-accent-text-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color-theme);
  }
}
// .hero__title {
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.36;
//   text-align: center;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   color: var(--white-color-theme);
//   width: 696px;
//   margin: 0 auto 30px;
// }
