:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --text-color-site: #757575;
  --text-color-title: #212121;
  --dark-color-theme: #000;
  --white-color-theme: #fff;
  --backgrund-hero-footer: #2f303a;
  --font-weight-text-site: 400;
  --font-weight-text-title: 700;
  --font-weight-text: 500;
}
